body {
  background-color: #EEEEEE;
}
h3 {
  color: #674747;
}

.selectize-input{
  border: #829460;
  background-color: ##EEEEEE !important;
}
.input-group{
  border: #829460;
  background-color: ##EEEEEE !important;
}
.btn{
  border: #829460;
  background-color: ##EEEEEE !important;
}
.space{
  height: 90px;
}
.cltitlespace{
  height: 25px;
}
.clinputtxt{
  margin-left: 90px;
  margin-top: 30px;
}
.datauploadvar{
  margin-left: 90px;
  margin-top: 20px;
}
.cltitle{
  margin-left: 10px;
  margin-top: 30px;
}
.plfileinput{
  margin-left: 90px;
  margin-top: 30px;
}
.plottitlespace{
  height: 25px;
}
